body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.navbar {
  background-color: #29b6f6; /* El tono de azul de la captura */
  padding: 20px 40px;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}